<div>
  <h2>Orden Traida</h2>
  <hr>
  <div>
    <h5>Numero de Orden</h5>
    <span>{{orden?.docNum}}</span>
  </div>
</div>
<div class="container">
  <br>
  <br>
  <h1>Items</h1>
  <hr>
  <td><button class="btn btn-success" type="button" (click)="open(item)">Agregar</button></td>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Resurtido</th>
        </tr>
        <tr *ngFor="let detalle of orden?.detalleOrden">
          <td>{{detalle.itemCode}}</td>
          <td>{{detalle.itemDescription}}</td>
          <td>{{detalle.precio}}</td>
          <td>{{detalle.cantidad}}</td>
          <td *ngIf="detalle.resurtido == 'tNO'">Si</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<ng-template #item let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Item a Orden de Compra</h4>
    <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col">
      <p>¿Cuenta con el codigo del articulo?</p>
      <p>Digitelo</p>
      <p>
        <input type="text" name="itemCode" [(ngModel)]="itemCode">
        <button (click)="buscarItemCode()">Buscar</button>
      </p>
      <div *ngIf="errorMsg != null">
        <span>Este Item no existe, ¿Desea Agregarlo?</span>
      </div>


    </div>
    <div *ngIf="verificacion == true">
      <div class="col">
        <label for="ejemplo">Codigo del Articulo</label>
        <input type="text" class="form-control" [(ngModel)]="itemCode" name="itemCode"
          placeholder="Codigo del Articulo">
      </div>
      <div class="col">
        <label for="ejemplo">Cantidad</label>
        <input type="text" class="form-control" [(ngModel)]="cantidad" name="cantidad" placeholder="Numero de Orden">
      </div>
      <div class="col">
        <label for="ejemplo">Precio</label>
        <input type="text" class="form-control" [(ngModel)]="precio" name="precio" placeholder="Numero de Entrada">
      </div>
      <br>
      <button type="button" class="btn btn-success" (click)="agregarOrden()">Agregar Orden</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="modal.close()">Cerrar</button>
    </div>
    <div *ngIf="verificacion== false">
        <button type="button" class="btn btn-success" (click)="agregarItem()">Agregar Item</button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="modal.close()">Cerrar</button>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


