<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div>

  </div>
  <br>
  <br>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Estatus</th>
          <th scope="col">Fecha Transito</th>
          <th scope="col">Hora Transito</th>
          <th scope="col">Fecha Almacen</th>
          <th scope="col">Hora Almacen</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody *ngFor="let registro of registros">
            <tr *ngIf="registro.estatus == 'En Transito' || registro.estatus=='En Almacen'">
            <td>{{registro.idRegistro}}</td>
            <td>{{registro.estatus}}</td>
            <td>{{registro.date_Transito}}</td>
            <td>{{registro.timeTransito}}</td>
            <td>{{registro.date_Almacen}}</td>
            <td>{{registro.timeAlmacen}}</td>
            <td><button (click)="accionesRegistro(registro.idRegistro)">Acciones</button></td>
        </tr>
   </tbody>
    </table>
  </div>
</div>
