<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal1">Crear Registro</button>
    </div>
    <br>
    <br>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Area</th>
            <th scope="col">Estado</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.area}}</td>
            <td>{{user.enabled ? "Activo":"Inactivo"}}</td>
            <td><button class="btn btn-warning">Detalles</button></td>
          </tr>
        </thead>
        <tbody>
    
        </tbody>
      </table>
    </div>
  
  </div>