<!--Encabezado principal-->
<section class="intro">
  <div class="bg-image h-100" style="background-color: transparent;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <br><br>
        <!--Titulo-->
        <h2>
          <mat-icon>folder</mat-icon>Ordenes
        </h2>
        <br>
        <br>
        <!--Agregar Registro-->
        <button type="button" class="btn btnAgregar" (click)="openCreateOrder(ordenNueva)">
          <mat-icon style="width: 80%;">add</mat-icon> Crear Registro
        </button>
        &nbsp;&nbsp;
        <!--Buscar Registros-->
        <button type="button" class="btn btnBuscar" (click)="openBuscarOrder(buscarOrden)">
          <mat-icon style="width: 80%;">search</mat-icon> Buscar Orden
        </button>
        <br><br>
        <!--Inicio de la Tabla-->
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <!--Cabecero de la tabla-->
                    <thead style="background-color: #634A97; color: #f5f7fa;">
                      <tr>
                        <th scope="col">Numero de Orden</th>
                        <th scope="col">Numero de Entrada</th>
                        <th scope="col">Total</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Orden Nueva</th>
                        <th>Accion</th>
                      </tr>
                    </thead>
                    <!--Cuerpo de la Tabla-->
                    <tbody *ngFor="let orden of ordenes" style="background-color: transparent;">
                      <tr>
                        <td>{{orden.docNum}}</td>
                        <td>{{orden.docEntry}}</td>
                        <td>{{orden.docTotal}}</td>
                        <td>{{orden.docDate}}</td>
                        <td>{{orden.docEntry ? "No":"Si"}}</td>
                        <td><button mat-raised-button class="btn btnDetalles" [routerLink]="'/admin/asignarProducto/'+orden?.idOrdenCompra">Detalles</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Fin Tabla-->
      </div>
    </div>
  </div>
</section>
<!--Ventana Modal Crear Orden-->
<ng-template #ordenNueva let-modal>
  <form (ngSubmit)="crearOrden()">
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title">Titulo Modal</h4>
      <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body fondo-modal">
      <div class="col">
        <label for="ejemplo">Numero de Entrada</label>
        <input type="text" [(ngModel)]="ordenData.docEntry" class="form-control" name="docEntry"
          placeholder="Numero de Entrada">
      </div>
      <div class="col">
        <label for="ejemplo">Numero de Orden</label>
        <input type="text" [(ngModel)]="ordenData.docNum" class="form-control" name="docNum"
          placeholder="Numero de Orden">
      </div>
      <div class="col">
        <label for="ejemplo">Fecha de la Orden</label>
        <input type="text" [(ngModel)]="ordenData.docDate" class="form-control" name="docDate" placeholder="Fecha">
      </div>
      <div class="col">
        <label for="ejemplo">Hora de la Orden</label>
        <input type="text" [(ngModel)]="ordenData.docTime" class="form-control" name=docTime
          placeholder="Orden de la orden">
      </div>
      <div class="col">
        <label for="ejemplo">Total de la orden</label>
        <input type="text" [(ngModel)]="ordenData.docTotal" class="form-control" name="docTotal"
          placeholder="Total de la orden">
      </div>
      <div class="col">
        <label for="ejemplo">Nombre del Proveedor</label>
        <input type="text" [(ngModel)]="ordenData.cardName" class="form-control" name="cardName"
          placeholder="Nombre del proveedor">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btnAgregar">Guardar Orden</button>
      <button type="button" class="btn btnCerrar" (click)="modal.close()">Cerrar</button>
    </div>
  </form>
</ng-template>
<!--Cerrar Ventana Modal Crear Orden-->
<!--Ventana Modal Buscar Orden-->
<ng-template #buscarOrden let-modal>
  <form (ngSubmit)="buscarOrder()">
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title">Titulo Modal</h4>
      <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body fondo-modal-buscar">
      <div class="col">
        <label for="ejemplo">Numero de Entrada</label>
        <input type="text" [(ngModel)]="ordenData.docEntry" class="form-control" name="docEntry"
          placeholder="Numero de Entrada">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btnBuscar">Buscar</button>
    </div>
  </form>
</ng-template>
<!--Cerrar Ventana Modal Buscar Orden-->
