<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal1">Crear Registro</button>
    </div>
    <br>
    <br>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numero de Orden</th>
            <th scope="col">Numero de Entrada</th>
            <th scope="col">Total</th>
            <th scope="col">Fecha</th>
          </tr>
          <tr *ngFor="let orden of ordenes">
            <td>{{orden.docNum}}</td>
            <td>{{orden.docEntry}}</td>
            <td>{{orden.docTotal}}</td>
            <td>{{orden.docDate}}</td>
            <td><button class="btn btn-warning">Detalles</button></td>
          </tr>
        </thead>
        <tbody>
    
        </tbody>
      </table>
    </div>
  
  </div>