    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse color-sidebar">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <img src="assets/ANANDA-blanco.png" alt="Ananda">
          <!--Boton del Menu Administrador-->
          <div class="color-tr">
            <a routerLink="/almacen/registros" class="list-group-item list-group-item-action py-2 ripple color-tr"
              aria-current="true">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i>
              <h5><span>Menu Almacen</span></h5>
            </a>
          </div>
          <br>
          <!--Lista Registros-->
          <a routerLink="/almacen/registros" class="list-group-item list-group-item-action py-2 ripple color-listado">
            <mat-icon>access_time</mat-icon>&nbsp;Registros
          </a>
          <a routerLink="/almacen/items" class="list-group-item list-group-item-action py-2 ripple color-listado">
            <mat-icon>store</mat-icon>&nbsp;Productos
          </a>
          <br><br><br><br><br><br>
          <br>
          <!--Boton Cerrar Sesion-->
          <a (click)="logout()" class="list-group-item list-group-item-action py-2 ripple color-salir">
            <mat-icon>meeting_room</mat-icon>&nbsp;Cerrar Sesion
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->