    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
          <img src="assets/ANANDANEGRO_2.png" alt="Ananda">
            <a routerLink="/admin/registros" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i>
              <h5><span>Menu Almacen</span></h5>
  
            </a>
            <br>
            <a routerLink="/almacen/registros" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-area fa-fw me-3"></i>
              <span>Registros</span>
            </a>  
            <a routerLink="/almacen/items" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-line fa-fw me-3"></i>
              <span>Productos</span>
            </a>        
            <br><br><br><br><br><br>
            <br>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-money-bill fa-fw me-3"></i>
              <span>Cerrar Sesion</span>
            </a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->