<div class="container">
    <h2>Detalles</h2>
    <div class="row">
        <div class="col-md-3">
            <h6>Codigo del Articulo</h6>
            <p>{{item?.itemCode}}</p>
        </div>
        <div class="col-md-3">
            <h6>Descripcion del Articulo</h6>
            <p>{{item?.itemName}}</p>
        </div>

    </div>
    <img src="{{cadenaImg}}" width="300">
    <button (click)="regresar()">Regresar</button>
    <button (click)="openEditar(itemEdit)">Editar</button>
</div>
<!--Ventana Modal Crear Orden-->
<ng-template #itemEdit let-modal>
    <form (ngSubmit)="actualizarProducto()">
      <div class="modal-header">
        <h4 class="modal-title">Titulo Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          <label for="ejemplo">Codigo del Producto</label>
          <input value="{{item?.itemCode}}" type="text" [(ngModel)]="itemData.itemCode" class="form-control" name="docEntry"
            placeholder="Codigo de Producto">
        </div>
        <div class="col">
          <label for="ejemplo">Descripcion del Producto</label>
          <input type="text" value="{{item?.itemName}}" [(ngModel)]="itemData.itemName" class="form-control" name="docNum"
            placeholder="Descripcion del producto">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar Orden</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
      </div>
    </form>
  </ng-template>
